## R Tutorial Basic : 
_____________________
_______________________

-------------------------------------
### Vector in R

    Can be written in 2 ways:
    1.  " <- c(elements) "
    2.  " = c(elements) "

In [2]:
# both types can be used to write !!

list1 <- c("Honda", "Ferrari", "Turbo")
list1

[1] "Honda"   "Ferrari" "Turbo"

In [3]:
list1 = c("Honda", "Ferrari", "Turbo")
list1

[1] "Honda"   "Ferrari" "Turbo"

-------------------------------------
### List in R

In [6]:
cars <-list(name =c("Honda","BMW","Ferrari"), color =c("Black","Blue","Red"), cc =c(2000,3400,4000))
cars

$name
[1] "Honda"   "BMW"     "Ferrari"

$color
[1] "Black" "Blue"  "Red"

$cc
[1] 2000 3400 4000

In [8]:
cars = list(name =c("Honda","BMW","Ferrari"), color =c("Black","Blue","Red"), cc =c(2000,3400,4000))
cars

$name
[1] "Honda"   "BMW"     "Ferrari"

$color
[1] "Black" "Blue"  "Red"

$cc
[1] 2000 3400 4000

-----------------------------------------------------------------------------
### Matrix in R

In [13]:
mdat <-matrix(c(1,2,3, 11,12,13), nrow =2, ncol =3, byrow =TRUE, dimnames =list(c("row1", "row2"), c("C.1", "C.2", "C.3")))
mdat

     C.1 C.2 C.3
row1  1   2   3
row2 11  12  13